/* Base Application Styles */
body {
  color:#776e65;
  background: #faf8ef;
}

h1 {
  text-align: center;
}

#board-frame {
	width: 500px;
	height: 500px;
	padding:10px;
	background-color: #bbada0;
	margin:0 auto;
}

#board {
	position: relative;
}

.cell,
.tile {
	width: 115px;
	height: 115px;
	display: inline-block;
	background-color: rgba(238, 228, 218, 0.35);
	margin:5px;
	border-radius: 3px;

}

.tile {
	text-align: center;
	font-size: 55px;
    font-weight: bold;
	line-height: 115px;
	position: absolute;
	background-color: #eee4da;
}

.tile.tile-4 {
	background-color: #ede0c8;
}