/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

h1 {
  text-align: center;
}

#board {
	width: 500px;
	height: 500px;
	padding:10px;
	margin:0 auto;
	background-color: #bbada0;
	color:#776e65;
}

#board .tile {
	width: 115px;
	height: 115px;
	line-height: 115px;
	display: inline-block;
	background-color: #eee4da;
	text-align: center;
	margin:5px;
	border-radius: 3px;
    font-size: 55px;
    font-weight: bold;

}