/* Base Application Styles */
//
//   I'M KEEPING EVERYTHING IN ONE FILE, THE COURSE ISN'T ABOUT CSS (AND PROBABLY ISN'T WORTH IT ANYWAY FOR NOW)
//


body {
  color:#776e65;
  background: #faf8ef;
  padding-top:25px;
}

#info{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	padding:5px;
	text-align: center;
}

header {
	padding: 20px 0;
	&:after {
		content:'';
		clear:both;
		display: block;
	}
	h1 {
	  text-align: left;
	  font-size:70px;
	  float:left;
	  width: 50%;
	  margin:0;
	}

	.score-wrapper {
		border-radius: 3px;
		background-color: #bbada0;
		color:white;
		padding:8px 20px;
		float:left;
		font-size: 13px;
		color:#eee4da;
		text-align: center;
		position: relative;
		top: 8px;
		.score {
			color:white;
			font-size:26px;
		}
	}
}

main {
	width: 500px;
	margin:0 auto;
}

#board-frame {
	width: 500px;
	height: 500px;
	padding:10px;
	background-color: #bbada0;
	border-radius: 3px;
}

@keyframes merge_animation {
	0% { transform: scale(1); }
	// 40% { transform: scale(1.08); }
	50% { transform: scale(1.15); }
	// 60% { transform: scale(1); }
	// 70% { transform: scale(1.05); }
	// 80% { transform: scale(1); }
	100% { transform: scale(1); }
}

@keyframes appear_animation {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

#board {
	position: relative;

	.cell,
	.tile {
		width: 115px;
		height: 115px;
		display: inline-block;
		background-color: rgba(238, 228, 218, 0.35);
		margin:5px;
		border-radius: 3px;
		&.new {
			animation-name: appear_animation;
			animation-duration: 0.3s;
			transform-origin:50% 50%;
			animation-iteration-count: 1;
			animation-timing-function: easeOutQuart;
		}
		&.merged {
			animation-name: merge_animation;
			animation-duration: 0.25s;
			transform-origin:50% 50%;
			animation-iteration-count: 1;
			animation-timing-function: easeOut;
		}
	}

	.tile {
		transition: all 0.2s ease;
		opacity: 1;
		text-align: center;
		font-size: 55px;
	    font-weight: bold;
		line-height: 115px;
		position: absolute;
		background-color: #eee4da;
		&.tile-4     { background-color: #ede0c8; }
		&.tile-8     { background-color: #f2b179; color: #f9f6f2; }
		&.tile-16    { background-color: #f59563; color: #f9f6f2; }
		&.tile-32    { background-color: #f67c5f; color: #f9f6f2; }
		&.tile-64    { background-color: #f9f6f2; color: #f9f6f2; }
		&.tile-128   { background-color: #edcf72; color: #f9f6f2; font-size: 45px; }
		&.tile-256   { background-color: #edcc61; color: #f9f6f2; font-size: 45px; }
		&.tile-512   { background-color: #edc850; color: #f9f6f2; font-size: 45px; }
		&.tile-1024  { background-color: #edc53f; color: #f9f6f2; font-size: 35px; }
		&.tile-2048  { background-color: #edc22e; color: #f9f6f2; font-size: 35px; }
		&.tile-4096  { background-color: #E6B716; color: #f9f6f2; font-size: 35px; }
	}
}