/* Base Application Styles */
//
//   I'M KEEPING EVERYTHING IN ONE FILE, THE COURSE ISN'T ABOUT CSS (AND PROBABLY ISN'T WORTH IT ANYWAY FOR NOW)
//


body {
  color:#776e65;
  background: #faf8ef;
  padding-top:25px;
}

#info{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	padding:5px;
	text-align: center;
}

header {
	padding: 20px 0 0px;
	&:after {
		content:'';
		clear:both;
		display: block;
	}
	h1 {
	  text-align: left;
	  font-size:70px;
	  float:left;
	  width: 205px;
	  margin:0;
	}

	#score-wrapper {
		border-radius: 3px;
		background-color: #bbada0;
		color:white;
		padding:8px 20px;
		float:right;
		font-size: 13px;
		color:#eee4da;
		text-align: center;
		position: relative;
		top: 8px;
		right: -20px;
		.score {
			color:white;
			font-size:26px;
		}
	}

	#restart {
	    background: #8f7a66;
	    border-radius: 3px;
	    padding: 0 20px;
	    text-decoration: none;
	    color: #f9f6f2;
	    height: 40px;
	    line-height: 42px;
	    cursor: pointer;
	    display: block;
	    text-align: center;
	    position: relative;
	    float:left;
	    top:29px;
	}
}

main {
	width: 500px;
	margin:0 auto;
}

#board-frame {
	width: 500px;
	height: 500px;
	padding:10px;
	background-color: #bbada0;
	border-radius: 3px;
}

@keyframes merge_animation {
	0% { transform: scale(1); }
	50% { transform: scale(1.15); }
	100% { transform: scale(1); }
}

@keyframes appear_animation {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

#board {
	position: relative;
}

#game-over {
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	top:-10px;
	bottom: -10px;
	right: -10px;
	left: -10px;
	padding-top:225px;
	background-color: rgba(250, 248, 239, 0.2);
}